.howDecisions {
	background-color: rgb(221,221,221);
	.howDecisions__container {
		max-width: 1500px;
		height: 500px;
		margin: 0 auto;
		background-image: url("../../../../images/howDecision.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		align-items: flex-end;
		text-align: center;
		padding: 0 1rem;
		h2 {
			// color: white;
			font-family: "Tomorrow", sans-serif;
			font-weight: 300;
			font-size: 1rem;
			mark{
				background-color: transparent;
				color: black;
				font-weight: 700;
			}
		}
	}
	@media (min-width: 600px) {
		.howDecisions__container {
			height: 550px;
			h2{
				font-size: 1.1rem;
			}
		}
	}
	@media (min-width: 700px) {
		.howDecisions__container {
			height: 600px;
			padding-bottom: 1rem;
			h2{
				font-size: 1.5rem;
			}
		}
	}
	@media (min-width: 800px) {
		.howDecisions__container {
			height: 650px;
			h2{
				font-size: 1.6rem;
			}
		}
	}
	@media (min-width: 900px) {
		.howDecisions__container {
			height: 700px;
			padding: 2rem;
			h2{
				font-size: 1.7rem;
			}
		}
	}
	@media (min-width: 1000px) {
		.howDecisions__container {
			height: 750px;
			h2{
				font-size: 1.8rem;
			}
		}
	}
	@media (min-width: 1100px) {
		.howDecisions__container {
			height: 800px;
			padding: 3rem;
			h2{
				font-size: 2rem;
			}
		}
	}
	@media (min-width: 1300px) {
		.howDecisions__container {
			height: 850px;
			h2{
				font-size: 2.2rem;
			}
		}
	}
	@media (min-width: 1500px) {
		.howDecisions__container {
			height: 1000px;
			h2{
				font-size: 2.5rem;
			}
		}
	}
}
