.contact__image__container {
	background-color: white;
	padding: 2rem 1rem;
	.image__box {
		max-width: 1500px;
		margin: 0 auto;
		height: clamp(300px, 33vw, 700px);
		padding: 0 clamp(1rem, 5vw, 5rem) clamp(1rem, 5vw, 5rem);
		background-image: url("../../../../images/whirlpool_transparent.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		font-family: "Tomorrow", sans-serif;
	}
	h2 {
		max-width: 1250px;
		color: black;
		font-weight: 400;
		font-size: clamp(1.8rem, 3.5vw, 3.5rem);
		text-align: center;
		text-wrap: balance;
	}
	a {
		--color: hsl(208, 72%, 39%);
		text-transform: uppercase;
		font-family: "Tomorrow", sans-serif;
		padding: clamp(0.5rem, 2vw, 0.7rem) clamp(1rem, 5vw, 5rem);
		font-weight: 500;
		font-size: clamp(0.8rem, 1.5vw, 1.5rem);
		text-decoration: none;
		border: 3px solid var(--color);
		color: black;
		border-radius: 0.25em;
		background-color:  hsl(208, 85%, 73%);

		position: relative;
		isolation: isolate;
	}
	a::after{
		content: "";
		position: absolute;
		z-index: -1;
		background: var(--color);
		inset: 0;

		scale: 0 1;
		transform-origin: right;
		transition: scale 450ms;
	}
	a:hover::after,
	a:focus-visible::after{
		transform-origin: left;
		scale: 1 1;
	}
	// a {
	// 	text-transform: uppercase;
	// 	font-family: "Tomorrow", sans-serif;
	// 	padding: clamp(.5rem, 2vw, 0.7rem) clamp(1rem, 5vw, 5rem);
	// 	font-weight: 500;
	// 	font-size: clamp(.8rem, 1.5vw, 1.5rem);
	// 	text-decoration: none;
	// 	background-color: #0a62d0;
	// 	color: white;
	// 	transition: all 0.3s ease-in-out;
	// 	text-align: center;
	// }
	// a:hover {
	// 	background-color: #4a87d0;
	// 	scale: 1.05;
	// }
}
