.choose {
	background-color: white;
	height: fit-content;
	.choose__container {
		max-width: 1500px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		padding: 0 1rem 1rem;
		h2 {
			flex: 1 1 100%;
			width: inherit;
			font-family: "Gruppo", sans-serif;
			font-size: 2.3rem;
			text-align: center;
			font-weight: 500;
			transition: all .3s ease-in-out;
		}
		h2:hover{
			scale: 1.05;
		}
		.choose__boxes {
			flex: 1 1 100%;
			height: fit-content;
			display: flex;
			flex-wrap: wrap;
			.choose__boxes__img {
				flex: 1 1 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					height: 50px;
					display: block;
				}
			}
			.choose__boxes__text {
				flex: 1 1 100%;
				h4 {
					text-align: center;
					font-family: "Gruppo", sans-serif;
					font-size: 1.6rem;
					font-weight: 400;
					margin: .5rem auto .5rem;
				}
				p {
					max-width: 600px;
					text-align: center;
					font-family: "Tomorrow", sans-serif;
					font-weight: 200;
					font-size: 0.8rem;
					margin: .5rem auto 2rem;
				}
			}
		}
	}
	@media (min-width:600px) {
		.choose__container {
			h2 {
				font-size: 2.5rem;
				
			}
			.choose__boxes {
				.choose__boxes__img {
					img {
						height: 55px;
					}
				}
				.choose__boxes__text {
					h4 {
						font-size: 1.7rem;
					}
					p {
						font-size: 0.9rem;
					}
				}
			}
		}
	}
	@media (min-width:700px) {
		.choose__container {
			h2 {
				font-size: 3rem;
			}
			.choose__boxes {
				.choose__boxes__img {
					img {
						height: 60px;
					}
				}
				.choose__boxes__text {
					h4 {
						font-size: 2rem;
					}
					p {
						font-size: 1rem;
					}
				}
			}
		}
	}
	@media (min-width:800px) {
		.choose__container {
			h2 {
				font-size: 3.5rem;
			}
			.choose__boxes {
				.choose__boxes__img {
					img {
						height: 65px;
					}
				}
				.choose__boxes__text {
					h4 {
						font-size: 2.2rem;
					}
					p {
						font-size: 1.1rem;
					}
				}
			}
		}
	}
	@media (min-width:900px) {
		.choose__container {
			h2 {
				font-size: 4rem;
			}
			.choose__boxes {
				gap: 1rem;
				.choose__boxes__img {
					flex: 0 1 10%;
					margin: 0 0 0 auto;
					img {
						height: 70px;
					}
				}
				.choose__boxes__text {
					flex: 0 1 60%;
					max-width: 600px;
					margin: 0 auto 0 0;
					h4 {
						font-size: 2.5rem;
					}
					p {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}
