.introdiuction {
	max-width: 1500px;
	margin: 0 auto;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	margin-top: 45px;
	color: white;
	padding: 0 1rem;
	background-image: url("../../images/points.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.introdiuction__box__1 {
		flex: 1 1 100%;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		.introdiuction__box__1__title__container {
			text-align: center;
			h1 {
				// font-family: "Kanit", sans-serif;
				font-family: "Gruppo", sans-serif;
				font-weight: 500;
				font-size: 2.5rem;
				line-height: 5px;
			}
		}
		.introdiuction__box__1__button__container {
			display: flex;
			justify-content: center;
			align-items: center;
			button {
				font-family: "Tomorrow", sans-serif;
				font-weight: 500;
				text-transform: uppercase;
				padding: 0.7rem 2rem;
				font-size: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: rgb(6, 27, 176);
				border: none;
				transition: all 0.3s ease-out;
			}
			button:hover {
				color: white;
				background-color: rgb(6, 27, 176);
			}
		}
	}
	.introdiuction__box__2 {
		flex: 1 1 100%;
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		.introdiuction__contact__container {
			font-family: "Tomorrow", sans-serif;
			font-weight: 400;
			height: 40%;
			li {
				mark {
					background-color: transparent;
					font-weight: 700;
					color: white;
				}
			}
		}
	}
	@media (min-width: 600px) {
		.introdiuction__box__1 {
			height: 350px;
			.introdiuction__box__1__title__container {
				h1 {
					font-size: 3.5rem;
				}
			}
		}
		.introdiuction__box__2 {
			height: 250px;
		}
	}
	@media (min-width: 700px) {
		.introdiuction__box__1 {
			height: 400px;
			.introdiuction__box__1__title__container {
				h1 {
					font-size: 4rem;
				}
			}
		}
		.introdiuction__box__2 {
			height: 300px;
		}
	}
	@media (min-width: 800px) {
		.introdiuction__box__1 {
			height: 450px;
			.introdiuction__box__1__title__container {
				h1 {
					font-size: 4.5rem;
				}
			}
		}
		.introdiuction__box__2 {
			height: 350px;
		}
	}
	@media (min-width: 900px) {
		.introdiuction__box__1 {
			height: 500px;
			.introdiuction__box__1__title__container {
				h1 {
					font-size: 4.5rem;
				}
			}
		}
		.introdiuction__box__2 {
			height: 400px;
		}
	}
	@media (min-width: 1060px) {
		background-image: none;
		height: 600px;
		.introdiuction__box__1 {
			flex: 1 1 48%;
			height: inherit;
			order: 2;
			padding: 4rem 0;
		}
		.introdiuction__box__2 {
			flex: 1 1 48%;
			height: inherit;
			background-image: url("../../images/points.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			align-items: flex-end;
			.introdiuction__contact__container {
				height: 25%;
			}
		}
	}
}
