.steps {
	.steps__container {
		max-width: 1500px;
		margin: 0 auto;
		padding: 2rem 1rem;
		height: fit-content;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		h2 {
			flex: 1 1 100%;
			color: white;
			text-align: center;
			// margin: 2rem 0 3rem 0;
			font-size: 2.5rem;
			// font-family: "Kanit", sans-serif;
			font-family: "Gruppo", sans-serif;
			font-weight: 500;
		}
		.steps__boxes {
			flex: 1 1 47%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			img {
				width: 20%;
			}
			p {
				color: white;
				font-family: "Tomorrow", sans-serif;
				text-align: center;
				font-weight: 300;
			}
		}
	}
	@media (min-width: 600px) {
		.steps__container {
			h2 {
				font-size: 3rem;
				margin-bottom: 2rem;
			}
		}
	}
	@media (min-width: 700px) {
		.steps__container {
			h2 {
				font-size: 3.5rem;
			}
		}
	}
	@media (min-width: 900px) {
		.steps__container {
			h2 {
				font-size: 5rem;
			}
			.steps__boxes {
				flex: 1 1 30%;
				p {
					font-size: 1.5rem;
				}
			}
		}
	}
	@media (min-width: 1500px) {
	}
}
