.steps {
	.steps__container {
		max-width: 1500px;
		margin: 0 auto;
		padding: 2rem 1rem 5rem;
		height: fit-content;
		display: flex;
		flex-direction: column;
		color: white;
		.steps__container__boxes {
			display: flex;
			flex-wrap: wrap;
			.steps__container__boxes__count {
				flex: 1 1 30%;
				display: flex;
				justify-content: center;
				align-items: center;
				span {
					display: block;
					width: 6rem;
					font-size: 5rem;
					font-weight: 900;
					border: 10px solid white;
					border-radius: 50%;
					margin: 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;				}
			}
			.steps__container__boxes__text {
				flex: 1 1 70%;
				h2{
					line-height: .7;
					font-family: "Gruppo", sans-serif;
					// margin: 0;
				}
				h3{
					margin:1rem 0 0;
					font-family: "Tomorrow", sans-serif;
				}
				p{
					margin: .5rem 0  0;
					font-family: "Tomorrow", sans-serif;
				}
			}
		}
	}
	@media (min-width: 600px) {
		// .steps__container {
		// 	h2 {
		// 		font-size: 3rem;
		// 		margin-bottom: 2rem;
		// 	}
		// }
	}
	@media (min-width: 700px) {
		// .steps__container {
		// 	h2 {
		// 		font-size: 3.5rem;
		// 	}
		// }
	}
	@media (min-width: 900px) {
		// .steps__container {
		// 	h2 {
		// 		font-size: 5rem;
		// 	}
		// 	.steps__boxes {
		// 		flex: 1 1 30%;
		// 		p {
		// 			font-size: 1.5rem;
		// 		}
		// 	}
		// }
	}
	@media (min-width: 1500px) {
	}
}
