.contact {
  height: -moz-fit-content;
  height: fit-content;
  margin: 82px 0;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
.contact .contact__conatiner {
  max-width: 1500px;
  margin: 0 auto;
  min-height: 500px;
  padding: 0 1rem 40px;
}
.contact .contact__conatiner h2 {
  padding: 3rem 0 0;
  margin: 0;
  font-weight: 600;
}
.contact .contact__conatiner form {
  margin: 0 auto;
}
.contact .contact__conatiner form .form__field {
  display: flex;
  flex-direction: column;
}
.contact .contact__conatiner form .form__field label {
  margin: 1rem 0 0.5rem;
}
.contact .contact__conatiner form .form__field input {
  width: 100%;
  max-width: 1060px;
  height: 3rem;
  border: 1px solid rgb(177, 176, 176);
}
.contact .contact__conatiner form .form__field textarea {
  width: 100%;
  max-width: 1060px;
  height: 150px;
  border: 1px solid rgb(177, 176, 176);
}
.contact .contact__conatiner form .form__button__container {
  max-width: 1060px;
}
.contact .contact__conatiner form .form__button__container button {
  width: 200px;
  height: 3rem;
  background-color: #0a62d0;
  margin: 0 auto;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  padding: 1rem 3rem;
  transition: all 0.3s ease-in-out;
}
.contact .contact__conatiner form .form__button__container button:hover {
  opacity: 0.85;
}
.contact .contact__conatiner .contact__email__and__whatsapp {
  max-width: 1060px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.contact .contact__conatiner .contact__email__and__whatsapp h3 {
  flex: 1 1 100%;
  margin: 5px 0;
  text-align: center;
  font-weight: 400;
}
.contact .contact__conatiner .contact__email__and__whatsapp h4 {
  flex: 1 1 100%;
  margin: 5px 0 2rem;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
}
.contact .contact__conatiner .contact__email__and__whatsapp button {
  flex: 1 1 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
}
.contact .contact__conatiner .contact__email__and__whatsapp button a {
  background-color: #0a62d0;
  text-decoration: none;
  color: white;
  padding: 1rem 3rem;
}
.contact .contact__conatiner .contact__email__and__whatsapp button:hover {
  opacity: 0.85;
}
.contact .contact__conatiner .contact__email__and__whatsapp a {
  flex: 1 1 100%;
  display: grid;
  place-items: center;
  margin: 1rem 0;
}
.contact .contact__conatiner .contact__email__and__whatsapp a svg {
  font-size: 2.5rem;
  color: rgb(36, 204, 99);
  transition: all 0.3s ease-in-out;
}
.contact .contact__conatiner .contact__email__and__whatsapp a svg:hover {
  scale: 1.2;
}
@media (min-width: 1060px) {
  .contact .contact__conatiner {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .contact .contact__conatiner h2 {
    flex: 1 1 100%;
  }
  .contact .contact__conatiner form {
    flex: 1 1 65%;
  }
  .contact .contact__conatiner .contact__email__and__whatsapp {
    flex: 1 1 30%;
  }
  .contact .contact__conatiner .contact__email__and__whatsapp h3 {
    font-size: 1.5rem;
  }
  .contact .contact__conatiner .contact__email__and__whatsapp h4 {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=Contact.css.map */