.technology {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
.technology .technology__nav__container {
  position: relative;
}
.technology .technology__nav__container .technology__nav__container__title {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgb(229, 229, 229);
  padding: 0 1rem;
  border-bottom: 1px solid black;
}
.technology .technology__nav__container .technology__nav__container__title li {
  display: flex;
  align-items: center;
}
.technology .technology__nav__container .technology__nav__container__list {
  list-style-type: none;
  width: 100%;
  padding: 0 1rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50px;
  background-color: white;
  border: 1px solid black;
}
.technology .technology__nav__container .technology__nav__container__list li {
  width: inherit;
  height: inherit;
}
.technology .technology__nav__container .technology__nav__container__list li a {
  display: inline-block;
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: black;
  line-height: 2rem;
}
.technology .services__wraper {
  margin-top: 100px;
}
.technology .services__wraper p {
  font-size: 2.5rem;
  padding-left: 20px;
  font-weight: 300;
}
.technology .services__wraper .services__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.technology .services__wraper .services__container a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: black;
  margin: 0;
  height: 50px;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  font-weight: 300;
  background-color: rgb(244, 244, 244);
  transition: all 0.3s ease-out;
}
.technology .services__wraper .services__container a svg {
  margin: 0 0 0 10px;
  font-size: 1.2rem;
}
.technology .services__wraper .services__container a p {
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.technology .services__wraper .services__container a p svg {
  margin: 0 10px 0 auto;
}
.technology .services__wraper .services__container a:hover {
  background-color: rgb(229, 229, 229);
}
.technology .services__wraper .services__container a:last-child {
  background-color: rgb(15, 98, 254);
}
.technology .services__wraper .services__container a:last-child svg {
  visibility: hidden;
}
.technology .services__wraper .services__container a:last-child p {
  color: white;
}
.technology .services__wraper .services__container a:last-child p svg {
  visibility: visible;
}
.technology .services__wraper .services__container a:last-child:hover {
  background-color: rgb(13, 84, 217);
}
@media (min-width: 700px) {
  .technology {
    padding: 0 1rem;
  }
  .technology .services__wraper .services__container a {
    height: 200px;
    flex: 1 1 48%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .technology .services__wraper .services__container a svg {
    margin: 20px auto 0 20px;
    font-size: 1.7rem;
  }
  .technology .services__wraper .services__container a p {
    font-size: 1.5rem;
    margin: 0 20px 30px 20px;
  }
  .technology .services__wraper .services__container a p svg {
    width: 4rem;
    height: 1.5rem;
    margin: auto 0 0 auto;
  }
}
@media (min-width: 1060px) {
  .technology {
    max-width: 1500px;
  }
  .technology .services__wraper .services__container a {
    height: 270px;
    flex: 1 1 31%;
    max-width: 33%;
  }
  .technology .services__wraper .services__container a svg {
    margin: 20px auto 0 20px;
    font-size: 2rem;
  }
  .technology .services__wraper .services__container a p {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=Technology.css.map */