.points-careers__image-container {
	max-width: 1500px;
	margin: 4rem auto 1rem;
	height: clamp(300px, 35vw, 700px);
	background-image: url("../../../../images/waves.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	h2 {
		font-weight: 500;
		font-size: clamp(2.5rem, 5vw, 5rem);
		margin-bottom: 1rem;
		font-family: "Gruppo", sans-serif;
		transition: all 0.3s ease-in-out;
	}
	h2:hover {
		scale: 1.05;
	}
	p {
		width: 70%;
		font-size: clamp(0.6rem, 1.2vw, 1.2rem);
		text-align: center;
		font-family: "Tomorrow", sans-serif;
	}
	@media (min-width: 800px) {
		h2 {
			font-weight: 500;
		}
	}
}
