.aboutVision {
	background-color: black;
	.aboutVision__container {
		max-width: 1500px;
		margin: 0 auto;
		padding: 2rem 1rem;
		display: flex;
		flex-wrap: wrap;
		.aboutVision__container__boxes {
			flex: 1 1 100%;
			height: fit-content;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 3rem;
			h2 {
				flex: 1 1 45%;
				min-width: 250px;
				margin: auto;
				text-align: center;
				color: white;
				font-family: "Gruppo", sans-serif;
				margin: 3rem 0 1rem;
				font-weight: 500;
				transition: all 0.3s ease-out;
			}
			h2:hover {
				scale: 1.05;
			}
			p {
				flex: 1 1 45%;
				min-width: 250px;
				text-align: center;
				color: white;
				margin: auto;
				padding: 2rem;
				font-family: "Tomorrow", sans-serif;
			}
			.aboutVision__container__boxes_img {
				flex: 1 1 45%;
				width: 40%;
				height: 300px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin: auto;
				display: block;
			}
		}
		.aboutVision__container__boxes1 {
			.aboutVision__container__boxes_img {
				background-image: url("../../../../images/aboutVision1.jpg");
			}
		}
		.aboutVision__container__boxes2 {
			.aboutVision__container__boxes_img {
				background-image: url("../../../../images/aboutVision2.jpg");
			}
		}
	}
	@media (min-width: 500px) {
		.aboutVision__container {
			.aboutVision__container__boxes {
				.aboutVision__container__boxes_img {
				}
				h2 {
					margin: auto;
				}
			}
		}
	}
	@media (min-width: 600px) {
		.aboutVision__container {
			.aboutVision__container__boxes {
				.aboutVision__container__boxes_img {
					height: 550px;
				}
				h2 {
					margin: auto;
				}
				p {
					font-size: 1.1rem;
				}
			}
		}
	}
	@media (min-width: 700px) {
		.aboutVision__container {
			.aboutVision__container__boxes {
				.aboutVision__container__boxes_img {
					height: 350px;
				}
				p {
					font-size: 1.2rem;
				}
			}
		}
	}
	@media (min-width: 800px) {
		.aboutVision__container {
			.aboutVision__container__boxes {
				.aboutVision__container__boxes_img {
					height: 400px;
				}
				p {
					font-size: 1.3rem;
				}
			}
		}
	}
	@media (min-width: 900px) {
		.aboutVision__container {
			.aboutVision__container__boxes {
				.aboutVision__container__boxes_img {
					height: 450px;
				}
				p {
					font-size: 1.4rem;
				}
			}
		}
	}
	@media (min-width: 1000px) {
		.aboutVision__container {
			.aboutVision__container__boxes {
				.aboutVision__container__boxes_img {
					height: 500px;
				}
				p {
					font-size: 1.5rem;
				}
			}
		}
	}
}
