.howAdvantages {
	background-color: black;
	.howAdvantages__container {
		max-width: 1500px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		// gap: 1rem;
		padding: 1rem;
		h2 {
			flex: 1 1 100%;
			text-align: center;
			font-family: "Gruppo", sans-serif;
			margin: 4rem 0 0;
			font-weight: 600;
			color: white;
		}
		.howAdvantages__container__boxes {
			flex: 1 1 48%;
			min-width: 280px;
			// border: none;
			transition: all 0.3s ease-out;
			text-align: center;
			padding: 5%;
			img {
				margin: 0 auto 1rem;
				width: 22%;
				min-width: 4rem;
				max-width: 7rem;
				display: block;
			}
			h3 {
				font-weight: 600;
				font-family: "Gruppo", sans-serif;
				// font-size: 2.5rem;
				margin: 0;
				color: white;
			}
			p {
				max-width: 600px;
				font-family: "Tomorrow", sans-serif;
				line-height: 1.1em;
				// font-size: 1.3rem;
				font-weight: 300;
				color: white;
			}
			// }
		}
		.services__branches__coontainer__boxes:hover {
			background-color: rgb(245, 244, 244);
		}
	}
}
