.lets-contact__image--container {
	background-color: black;
	padding: 2rem 1rem;
	.lets-contact__image--box {
		max-width: 1500px;
		margin: 0 auto;
		padding: clamp(.5rem, 5vw, 5rem);
		height: clamp(250px, 40vw, 700px);
		background-image: url("../../../../images/whirlpool_transparent.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	h2 {
		max-width: 1250px;
		color: white;
		font-weight: 400;
		font-size: clamp(1.8rem, 3.5vw, 3.5rem);
		text-align: center;
		font-family: "Gruppo", sans-serif;
	}
	a {
		--color: hsl(208, 72%, 39%);
		text-transform: uppercase;
		font-family: "Tomorrow", sans-serif;
		padding: clamp(0.5rem, 2vw, 0.7rem) clamp(1rem, 5vw, 5rem);
		font-weight: 500;
		font-size: clamp(0.8rem, 1.5vw, 1.5rem);
		text-decoration: none;
		border: 3px solid var(--color);
		color: white;
		border-radius: 0.25em;

		position: relative;
		isolation: isolate;
	}
	a::after{
		content: "";
		position: absolute;
		z-index: -1;
		background: var(--color);
		inset: 0;

		scale: 0 1;
		transform-origin: right;
		transition: scale 450ms;
	}
	a:hover::after,
	a:focus-visible::after{
		transform-origin: left;
		scale: 1 1;
	}
	@media (min-width: 1100px) {
		padding: 4rem 1rem 5rem;
	}
}
