.about {
	font-family: "Montserrat", sans-serif;

	.about__image__container__1 {
		height: 350px;
		background-image: url("../../../images/about1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: grid;
		place-items: center;
		p {
			min-width: 70%;
			max-width: 80%;
			font-size: 2rem;
			font-weight: 700;
			color: rgb(248, 243, 243);
			text-shadow: black 0px 0px 50px;
			text-align: center;
		}
	}
	.about__text__container__1,
	.about__text__container__2 {
		max-width: 1500px;
		margin: 0 auto;
		padding: 0 1rem;
		color: rgb(55, 54, 54);
		h3 {
			text-align: center;
			font-weight: 500;
			font-size: 27px;
		}
		.icon {
			z-index: -1;
			max-width: 750px;
			margin: 0 auto;
			font-size: 1.7rem;
			position: relative;
			color: rgb(77, 76, 76);
			display: flex;
			justify-content: center;
			svg {
				color: black;
			}
		}
		.icon::before {
			content: "";
			position: absolute;
			height: 1px;
			right: 0;
			bottom: 50%;
			width: 40%;
			border-bottom: 1px solid rgb(47, 47, 47);
		}
		.icon::after {
			content: "";
			position: absolute;
			height: 1px;
			left: 0;
			bottom: 50%;
			width: 40%;
			border-bottom: 1px solid rgb(47, 47, 47);
		}
		p {
			max-width: 1000px;
			margin: 2rem auto;
			font-weight: 400;
			font-size: 22px;
			text-align: center;
		}
	}
	.about__image__container__2 {
		background-image: url("../../../images/about2.jpg");
	}
	.about__image__container__3 {
		background-image: url("../../../images/about3.jpg");
	}

	.about__image__container__2,
	.about__image__container__3 {
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 2rem 0;
	}

	@media (min-width: 700px) {
		.about__image__container__1 {
			height: 500px;
			p {
				font-size: 2.5rem;
			}
		}
		.about__image__container__2,
		.about__image__container__3 {
			height: 450px;
			margin: 2.5rem 0;
		}
	}
	@media (min-width: 1060px) {
		.about__image__container__1 {
			height: 650px;
			p {
				font-size: 3.5rem;
			}
		}
		.about__text__container__1,
		.about__text__container__2 {
			h3 {
				font-size: 2rem;
			}
			p {
				font-size: 26px;
				margin: 3rem auto;
			}
		}
		.about__image__container__2,
		.about__image__container__3 {
			height: 600px;
		}
	}
}
