.header {
	z-index: 100;
	font-family: "Montserrat", sans-serif;
	// font-weight: 700;
	position: relative;
	.header__logo--container {
		list-style-type: none;
		display: flex;
		padding: 0;
		margin: 0;
		.logo-box {
			width: 50%;
			font-family: "League Gothic", sans-serif;
			font-size: 1.5rem;
			display: flex;
			align-items: center;
			a {
				text-decoration: none;
				color: black;
				height: 35px;
				display: flex;
				align-items: center;
				padding: 5px;
				margin: 5px;
				font-weight: 300;
			}
		}
		.hamburger-box {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: end;
			transition: all 0.2s ease-in-out;
			svg {
				font-size: 1.2rem;
				// color: rgb(45, 45, 179);
				margin: 5px;
				transition: all 0.2s ease-in-out;
			}
		}
	}
	.humburgerMenu__container {
		list-style-type: none;
		margin: 0;
		padding: 0;
		transition: all 0.2s ease-in-out;
		position: absolute;
		width: 100%;
		z-index: 100;
		top: 40px;
		li {
			padding: 10px 0 10px 10px;
			font-size: 0.7rem;
			border: none;
			position: relative;
		}
		li:not(:last-child):before {
			content: "";
			position: absolute;
			left: 10px;
			bottom: 0;
			height: 1px;
			width: 95%;
			border-bottom: 1px solid gray;
		}
		li:first-child {
			background-color: rgb(78, 121, 172);
			color: white;
		}
		.second-li {
			background-color: rgb(96, 77, 141);
			color: white;
		}
		.li-after-second {
			background-color: rgb(229, 229, 229);
		}
		.sprachen {
			display: flex;
			padding: 0;
			button {
				padding: 0 10px;
				border: none;
				background-color: rgb(229, 229, 229);
				font-size: 0.7rem;
			}
			button:hover {
				cursor: pointer;
			}
		}
	}
	.header__big-container {
		display: none;
	}
	@media (min-width: 1020px) {
		.humburgerMenu__container {
			display: none;
		}
		.header__logo--container {
			display: none;
		}
		.header__big-container {
			display: block;
			.first-ul {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				list-style-type: none;
				padding: 0 1.5vw 0 0;
				.li1 {
					flex: 1 1 60%;
					font-family: "League Gothic", sans-serif;
					font-size: 2rem;
					a {
						text-decoration: none;
						height: 35px;
						display: flex;
						align-items: center;
						padding: 5px;
						margin: 5px;
						font-weight: 300;
						color: black;
					}
				}
				li .Dropdown-root {
					.Dropdown-control {
						border: none;
					}
				}
				.lis {
					height: 35px;
					display: flex;
					align-items: center;
					font-weight: 700;
					p {
						display: flex;
						align-items: center;
						svg {
							margin-left: 5px;
						}
					}
				}
				.lis p:hover,
				.li1 a:hover {
					cursor: pointer;
					opacity: 0.5;
				}
				.li2,
				.li3 {
					flex: 1 1 110px;
					max-width: 130px;
				}
				.sprachen {
					flex: 1 1 110px;
					max-width: 150px;
					display: flex;
					button {
						// height: 35px;
						background-color: white;
						border: none;
						font-size: 1rem;
						font-weight: 700;
					}
					button:hover {
						cursor: pointer;
						opacity: 0.5;
					}
				}
			}
			.second-ul {
				list-style-type: none;
				display: flex;
				flex-wrap: wrap;
				background-color: rgb(0, 29, 108);
				padding: 0 1.5vw 0 0;
				margin-bottom: 0;
				.lix {
					height: 35px;
					display: flex;
					align-items: center;
					padding: 5px;
					margin: 5px;
					font-weight: 500;
					p,
					a {
						text-decoration: none;
						display: flex;
						align-items: center;
						color: white;
						svg {
							margin-left: 5px;
						}
					}
				}
				.lix p:hover,
				.lix a:hover {
					cursor: pointer;
					opacity: 0.5;
				}
				.li4 {
					flex: 1 1 50%;
				}
			}
		}
	}
}
