.header {
  z-index: 100;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.header .header__logo--container {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.header .header__logo--container .logo-box {
  width: 50%;
  font-family: "League Gothic", sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.header .header__logo--container .logo-box a {
  text-decoration: none;
  color: black;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  font-weight: 300;
}
.header .header__logo--container .hamburger-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all 0.2s ease-in-out;
}
.header .header__logo--container .hamburger-box svg {
  font-size: 1.2rem;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}
.header .header__logo--container .humburgerMenu__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 40px;
}
.header .header__logo--container .humburgerMenu__container .humburgerMenu__container--link a {
  text-decoration: none;
}
.header .header__logo--container .humburgerMenu__container li {
  padding: 10px 0 10px 10px;
  font-size: 0.7rem;
  border: none;
  position: relative;
}
.header .header__logo--container .humburgerMenu__container li:not(:last-child):before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 1px;
  width: 95%;
  border-bottom: 1px solid gray;
}
.header .header__logo--container .humburgerMenu__container li:first-child {
  background-color: rgb(78, 121, 172);
  color: white;
}
.header .header__logo--container .humburgerMenu__container .first-li a {
  color: white;
}
.header .header__logo--container .humburgerMenu__container .second-li {
  background-color: rgb(96, 77, 141);
}
.header .header__logo--container .humburgerMenu__container .second-li a {
  color: white;
}
.header .header__logo--container .humburgerMenu__container .li-after-second {
  background-color: rgb(229, 229, 229);
}
.header .header__logo--container .humburgerMenu__container .li-after-second a {
  color: black;
}
.header .header__logo--container .humburgerMenu__container .sprachen {
  display: flex;
  padding: 0;
}
.header .header__logo--container .humburgerMenu__container .sprachen button {
  padding: 0 10px;
  border: none;
  background-color: rgb(229, 229, 229);
  font-size: 0.7rem;
}
.header .header__logo--container .humburgerMenu__container .sprachen button:hover {
  cursor: pointer;
}
.header .header__big-container {
  display: none;
}
@media (min-width: 1060px) {
  .header .humburgerMenu__container {
    display: none;
  }
  .header .header__logo--container {
    display: none;
  }
  .header .header__big-container {
    display: block;
  }
  .header .header__big-container .first-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0 1rem;
  }
  .header .header__big-container .first-ul .li1 {
    flex: 1 1 60%;
    font-family: "League Gothic", sans-serif;
    font-size: 2rem;
  }
  .header .header__big-container .first-ul .li1 a {
    text-decoration: none;
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 300;
    color: black;
  }
  .header .header__big-container .first-ul .lis {
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .header .header__big-container .first-ul .lis p {
    display: flex;
    align-items: center;
  }
  .header .header__big-container .first-ul .lis p svg {
    margin-left: 5px;
  }
  .header .header__big-container .first-ul .lis p:hover,
  .header .header__big-container .first-ul .li1 a:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .header .header__big-container .first-ul .li2,
  .header .header__big-container .first-ul .li3 {
    flex: 1 1 110px;
    max-width: 130px;
  }
  .header .header__big-container .first-ul .sprachen {
    flex: 1 1 110px;
    max-width: 150px;
    display: flex;
    justify-content: flex-end;
  }
  .header .header__big-container .first-ul .sprachen button {
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
  }
  .header .header__big-container .first-ul .sprachen button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .header .header__big-container .second-ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 29, 108);
    padding: 0 11px 0 11px;
    margin-bottom: 0;
  }
  .header .header__big-container .second-ul .lix {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px 5px 5px 0;
    font-weight: 500;
  }
  .header .header__big-container .second-ul .lix p,
  .header .header__big-container .second-ul .lix a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  .header .header__big-container .second-ul .lix p svg,
  .header .header__big-container .second-ul .lix a svg {
    margin-left: 5px;
  }
  .header .header__big-container .second-ul .lix p:hover,
  .header .header__big-container .second-ul .lix a:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .header .header__big-container .second-ul .li4 {
    flex: 1 1 50%;
    visibility: hidden;
  }
}/*# sourceMappingURL=Header.css.map */