.header {
  z-index: 100;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.header .header__logo--container {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.header .header__logo--container .logo-box {
  width: 50%;
  font-family: "League Gothic", sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.header .header__logo--container .logo-box span {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  font-weight: 300;
}
.header .header__logo--container .hamburger-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all 0.2s ease-in-out;
}
.header .header__logo--container .hamburger-box svg {
  font-size: 1.2rem;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}
.header .humburgerMenu__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 40px;
}
.header .humburgerMenu__container li {
  padding: 10px 0 10px 10px;
  font-size: 0.7rem;
  border: none;
  position: relative;
}
.header .humburgerMenu__container li:not(:last-child):before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 1px;
  width: 95%;
  border-bottom: 1px solid gray;
}
.header .humburgerMenu__container li:first-child {
  background-color: rgb(78, 121, 172);
  color: white;
}
.header .humburgerMenu__container .second-li {
  background-color: rgb(96, 77, 141);
  color: white;
}
.header .humburgerMenu__container .li-after-second {
  background-color: rgb(229, 229, 229);
}
.header .humburgerMenu__container .sprachen {
  display: flex;
  padding: 0;
}
.header .humburgerMenu__container .sprachen button {
  padding: 0 10px;
  border: none;
  background-color: rgb(229, 229, 229);
  font-size: 0.7rem;
}
.header .humburgerMenu__container .sprachen button:hover {
  cursor: pointer;
}
.header .header__big-container {
  display: none;
}
@media (min-width: 1020px) {
  .header .humburgerMenu__container {
    display: none;
  }
  .header .header__logo--container {
    display: none;
  }
  .header .header__big-container {
    display: block;
  }
  .header .header__big-container .first-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
  }
  .header .header__big-container .first-ul .li1 {
    flex: 1 1 60%;
    font-family: "League Gothic", sans-serif;
    font-size: 2rem;
  }
  .header .header__big-container .first-ul .li1 span {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    font-weight: 300;
  }
  .header .header__big-container .first-ul .lis {
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .header .header__big-container .first-ul .lis svg {
    margin-left: 5px;
  }
  .header .header__big-container .first-ul .lis:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .header .header__big-container .first-ul .li2,
  .header .header__big-container .first-ul .li3 {
    flex: 1 1 110px;
    max-width: 130px;
  }
  .header .header__big-container .first-ul .sprachen {
    flex: 1 1 110px;
    max-width: 150px;
    display: flex;
  }
  .header .header__big-container .first-ul .sprachen button {
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
  }
  .header .header__big-container .first-ul .sprachen button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .header .header__big-container .second-ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  .header .header__big-container .second-ul .lix {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    font-weight: 500;
  }
  .header .header__big-container .second-ul .lix svg {
    margin-left: 5px;
  }
  .header .header__big-container .second-ul .lix:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .header .header__big-container .second-ul .li4 {
    flex: 1 1 50%;
  }
}/*# sourceMappingURL=Header.css.map */