.technology {
	.technology__nav {
	}
	.tech__list{
		display: flex;
		flex-wrap: wrap;
		gap: 2px;
	}
	.tech__list--block{
		flex: 1 1 100%;
		position: relative;
		.tech-first{
			display: flex;
			flex-flow: row;
			img{
				flex: 0 1 auto;
			}
			span{
				flex: 0 1 auto;
			}
			div{
				flex: 1 1 auto;
				text-align: end;
			}
		}
		.tech-second{
			position: absolute;
			display: none;
		}
	}
	.tech__list--block:hover .tech-second{
		display: block;
	} 
}
