.footer {
  background-color: rgb(14, 22, 73);
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  margin-top: auto;
}
.footer .footer__container {
  max-width: 1500px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 0 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer .footer__container .footer__container--section-1 {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__container .footer__container--section-1 .footer__container--section-1-column {
  flex: 1 1 100%;
  border-bottom: rgba(153, 152, 152, 0.435) 1px solid;
  margin-bottom: clamp(0.5rem, 1vw, 2rem);
  padding-bottom: clamp(0.5rem, 5vw, 2rem);
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__container--section-1 .footer__container--section-1-column h2 {
  font-family: "Gruppo", sans-serif;
  margin-bottom: 1rem;
  font-size: clamp(2rem, 5vw, 2.5rem);
  font-weight: 400;
}
.footer .footer__container .footer__container--section-1 .footer__container--section-1-column a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  margin-block: clamp(1px, 0.2vw, 1.5px);
  font-family: "Tomorrow", sans-serif;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 300;
}
.footer .footer__container .footer__container--section-1 .footer__container--section-1-column a:hover {
  text-decoration: underline;
  color: rgb(123, 123, 240);
}
.footer .footer__container .footer__container--section-2 {
  flex: 1 1 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-logos {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: rgba(153, 152, 152, 0.435) 1px solid;
  padding-bottom: 1rem;
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-logos a {
  color: white;
  margin: 0 5px;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-logos a img {
  height: 1.8rem;
  background-color: rgb(14, 22, 73);
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-logos a:hover {
  text-decoration: underline;
  color: rgb(123, 123, 240);
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-email {
  flex: 1 1 100%;
  border-bottom: rgba(153, 152, 152, 0.435) 1px solid;
  padding-bottom: 1rem;
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-email h3 {
  font-family: "Gruppo", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-email a {
  text-decoration: none;
  color: white;
  font-family: "Tomorrow", sans-serif;
  transition: all 0.3s ease-out;
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-email a:hover {
  text-decoration: underline;
  color: rgb(123, 123, 240);
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-phone {
  flex: 1 1 100%;
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-phone h3 {
  font-family: "Gruppo", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}
.footer .footer__container .footer__container--section-2 .footer__container--section-2-phone p {
  margin: 0 0 4px;
  font-family: "Tomorrow", sans-serif;
  font-size: 0.8rem;
}
@media (min-width: 650px) {
  .footer .footer__container .footer__container--section-1 {
    gap: 1.5rem;
  }
  .footer .footer__container .footer__container--section-1 .footer__container--section-1-column {
    flex: 1 1 48%;
    max-width: 50%;
  }
  .footer .footer__container .footer__container--section-2 {
    gap: 1.5rem;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-logos {
    flex: 1 1 48%;
    max-width: 50%;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-email {
    flex: 1 1 48%;
    max-width: 50%;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-phone {
    flex: 1 1 48%;
    max-width: 50%;
  }
}
@media (min-width: 1000px) {
  .footer .footer__container .footer__container--section-1 {
    gap: 2rem;
    border-bottom: rgba(153, 152, 152, 0.435) 1px solid;
    padding-bottom: 1rem;
  }
  .footer .footer__container .footer__container--section-1 .footer__container--section-1-column {
    flex: 1 1 29%;
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer .footer__container .footer__container--section-2 {
    gap: 2rem;
    margin-top: 0;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-logos {
    flex: 1 1 29%;
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-email {
    flex: 1 1 29%;
    border-bottom: none;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-email h3 {
    font-size: 2.3rem;
    margin: auto 0 0.4rem 0;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-email a {
    font-size: 1.1rem;
    margin-bottom: 4px;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-phone {
    flex: 1 1 29%;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-phone h3 {
    font-size: 2.3rem;
  }
  .footer .footer__container .footer__container--section-2 .footer__container--section-2-phone p {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=Footer.css.map */