.stepsMain {
	.stepsMain__container {
		max-width: 1500px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		padding: 1rem 0 3rem;
		gap: clamp(1rem, 1vw, 2rem);
		.stepsMain__container__title_box {
			flex: 1 1 100%;
			h2 {
				color: white;
				width: fit-content;
				margin-inline: auto;
				// text-align: center;
				font-family: "Gruppo", sans-serif;
				font-weight: 500;
				transition: all 0.3s ease-out;
			}
			h2:hover {
				scale: 1.05;
			}
		}
		.stepsMain__container__boxes {
			flex: 1 1 31%;
			min-width: 280px;
			text-decoration: none;
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 1rem;
			img {
				width: clamp(4rem, 10vw, 7rem);
				// width: 22%;
				// min-width: 4rem;
				// max-width: 7rem;
				margin: auto;
				display: block;
			}
			p {
				color: white;
			}
		}
	}
	.stepsMain__container__boxes:hover {
		background-color: rgb(12, 12, 12);
	}
}
