.services__branches {
	background-color: white;
	.services__branches__coontainer {
		max-width: 1500px;
		margin: 0 auto;
		padding: 2rem;
		display: flex;
		flex-wrap: wrap;
		// row-gap: 1rem;
		// column-gap: 5rem;
		.services__branches__coontainer__boxes {
			flex: 1 1 29%;
			min-width: 280px;
			border: none;
			transition: all 0.3s ease-out;
			text-align: center;
			img {
				// margin:  0 auto;
				width: 22%;
			}
			.text__boxes {
				padding: 0;
				h3 {
					font-weight: 600;
					font-family: "Gruppo", sans-serif;
				}
				p {
					max-width: 600px;
					// margin: 0 auto;
					font-family: "Tomorrow", sans-serif;
					line-height: 1.1em;
					font-weight: 300;
				}
			}
		}
		.services__branches__coontainer__boxes:hover{
			background-color: rgb(245, 244, 244);
		}
	}
}
