.location {
	height: fit-content;
	background-color: white;
	.location__container {
		max-width: 1500px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		height: fit-content;
		padding: 1.5rem 1rem;
		gap: 1rem;
		h2 {
			flex: 1 1 100%;
			width: inherit;
			font-family: "Gruppo", sans-serif;
			color: rgb(6, 27, 176);
			font-weight: 500;
			margin: 1rem auto;
			text-align: center;
			transition: all .5s ease-in-out;
		}
		h2:hover{
			scale: 1.05;
		}
		.location__container--boxes {
			flex: 1 1 100%;
			height: fit-content;
			display: flex;
			flex-direction: column;
			img {
				width: inherit;
				height: 200px;
				display: block;
				margin: 0 auto;
				order: 1;
				opacity: .60;
				transition: all 0.3s ease-in-out;
			}
			img:hover{
				opacity: 1;
			}
			p {
				font-family: "Tomorrow", sans-serif;
				order: 3;
			}
			h5 {
				font-family: "Tomorrow", sans-serif;
				order: 2;
				color: rgb(6, 27, 176);
				margin-bottom: 0;
			}
		}
		.location__container--boxes:not(:last-child) {
			border-bottom: rgb(173, 172, 172) 1px solid;
		}
	}
	@media (min-width: 650px) {
		.location__container {
			gap: 1.5rem;
			.location__container--boxes {
				flex: 1 1 48%;
				height: fit-content;
				max-width: 50%;
				img {
					height: 250px;
				}
				p {
					min-height: 220px;
					font-size: 1.1rem;
					order: 3;
				}
				h5 {
					order: 3;
					margin-bottom: 0;
					font-size: 1.3rem;
					order: 2;
				}
			}
		}
	}
	@media (min-width: 1100px) {
		.location__container {
			gap: 2rem;
			.location__container--boxes {
				flex: 1 1 31%;
				max-width: 50%;
				img {
					height: 300px;
					order: 1;
				}
				p {
					height: 250px;
					order: 2;
					font-size: 1.2rem;
					margin-bottom: 0;
				}
				h5 {
					order: 3;
					margin-top: 1rem;
					margin-bottom: 0;
					font-size: 1.5rem;
				}
			}
			.location__container--boxes:not(:last-child) {
				border-bottom: none;
			}
		}
	}
	@media (min-width: 1250px) {
		.location__container {
			.location__container--boxes {
				p {
					height: 200px;
				}
			}
		}
	}
}
